{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RoadAxis AI</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<!-- NAVBAR -->
<nav class="navbar">
    <div class="container">
        <h2 class="logo">RoadAxis AI</h2>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
<li><a href="/machines/">Machines</a></li>            <li><a href="#">Services</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>
</nav>

{% block content %}
{% endblock %}

<!-- FOOTER -->
<footer class="footer">
    <p>© 2026 RoadAxis AI | Built with ❤️</p>
</footer>

</body>
</html>